mixin main-slider
  section.main-slider
    .circle
    .circle
    .circle

    .main-slider__slider.swiper-container.u-flex
      .swiper-wrapper
        .main-slider__slide.u-flex-col.u-center.swiper-slide
          +picture(`main-slider__image`, {
            minWidth: `1024px`,
            desktopName: `main-slider-01`,
            mobileName: `main-slider-01`,
            alt: `Расширяем возможности предоставления  качественных медицинских`
          })

          .main-slider__content.wrapper-m.clr-white.u-flex-col.u-center
            h2.main-slider__title Расширяем возможности предоставления  качественных медицинских
            p.main-slider__text «Дневник здоровья» – новый сервис для самоконтроля показателей состояния здоровья, разработанный для участников программы «Мое здоровье».

            a.main-slider__btn.btn.btn--fill.t-tdn.bg-red-1.clr-white(href=`#`) Узнать больше

        .main-slider__slide.u-flex-col.u-center.swiper-slide
          +picture(`main-slider__image`, {
            minWidth: `1024px`,
            desktopName: `main-slider-02`,
            mobileName: `main-slider-02`,
            alt: `Следить за здоровьем станет проще`
          })

          .main-slider__content.wrapper-m.clr-white.u-flex-col.u-center
            h2.main-slider__title Следить за здоровьем станет проще
            p.main-slider__text Скоро вы сможете находиться на связи со своим лечащим врачом независимо от своего местоположения, вести дневник мониторинга самочувствия, получать рекомендации по плану лечения и многое другое.

            a.main-slider__btn.btn.btn--fill.t-tdn.bg-red-1.clr-white(href=`#`) Узнать больше

    .main-slider__dots.u-flex

    .ellipse-mask
      +picture(``, {
        svgName: `i-ellipse-mask`,
        isSVG: true,
      })
