mixin main-nav
  nav.main-nav.u-flex.u-fxw
    a.main-nav__link.clr-white.t-tdn.u-flex.u-aic(
      href=`#`,
      data-anchor=`about`
    )
      span О сервисе
    a.main-nav__link.clr-white.t-tdn.u-flex.u-aic(href=`#`)
      span Функции
    a.main-nav__link.clr-white.t-tdn.u-flex.u-aic(href=`#`)
      span Возможности
    a.main-nav__link.clr-white.t-tdn.u-flex.u-aic(href=`#`)
      span Партнеры
    a.main-nav__link.clr-white.t-tdn.btn.u-flex.u-aic.u-asc(
      href=`#`,
      data-anchor=`subscription`
    )
      span Оставить заявку
