mixin subscription
  section.subscription.wrapper-p.u-flex-col.u-center.clr-blue-2#subscription
   h2.subscription__title Получите бесплатный доступ к «Дневнику здоровья»

   p.subscription__text Оставьте свою электронную почту #[br] и вы узнаете о запуске данного сервиса первым!

   form.subscription__form.u-flex
    input.subscription__input(
      type=`email`,
      placeholder=`Ваш E-mail`,
      required
    )
    button.subscription__submit.btn.btn--fill.bg-red-1.clr-white(type=`submit`) Отправить
