@mixin text($type) {
  @if $type == 'h1' {
    @include cera('b');
    margin-top: 0;
    margin-bottom: 0;
    font-size: 4.5rem;
    line-height: 1.17;
    letter-spacing: 0;

    @include respond-min(tablet) {
      font-size: 3.4375rem;
      letter-spacing: 0.02em;
    }
  }

  @if $type == 'h2' {
    @include cera('b');
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3rem;
    line-height: 1.4;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    @include respond-min(tablet) {
      font-size: 2.875rem;
    }
  }

  @if $type == 'h3' {
    @include cera('b');
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.75rem;
    line-height: 1.2;
    letter-spacing: 0.02em;

    @include respond-min(tablet) {
      font-size: 1.875rem;
      line-height: 1.4;
      letter-spacing: 0.04em;
    }
  }

  @if $type == 'h4' {
    @include cera('m');
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.125rem;
    line-height: 1.2;
    letter-spacing: 0.02em;

    @include respond-min(tablet) {
      font-size: 1.25rem;
      line-height: 1.4;
    }
  }

  @if $type == 't-small' {
    font-size: 1.25rem;
    line-height: 1.465;
    letter-spacing: 0.02em;

    @include respond-min(tablet) {
      font-size: 0.875rem;
    }
  }

  @if $type == 't-normal' {
    font-size: 1.625rem;
    line-height: 1.4;
    letter-spacing: 0.02em;

    @include respond-min(tablet) {
      font-size: 1.125rem;
    }
  }

  @if $type == 't-middle' {
    font-size: 1.75rem;
    line-height: 1.4;

    @include respond-min(tablet) {
      font-size: 1.125rem;
    }
  }

  @if $type == 't-big' {
    font-size: 2rem;
    line-height: 1.6;
    letter-spacing: 0.02em;

    @include respond-min(tablet) {
      font-size: 1.375rem;
    }
  }

  @if $type == 't-l-title' {
    @include cera('b');
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.375rem;
    line-height: 1.2;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    @include respond-min(tablet) {
      font-size: 0.8125rem;
    }
  }

  @if $type == 't-l-caption' {
    @include cera('b');
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.375rem;
    line-height: 1.17;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    @include respond-min(tablet) {
      font-size: 0.75rem;
      letter-spacing: 0.08em;
    }
  }
}
