.btn {
  @include cera('b');
  display: flex;
  align-items: center;
  padding: 0.7rem 1.7rem 0.9rem;
  font-size: 0.8rem;
  border: 1px solid $blue-1;
  border-radius: 1.5rem;
  transition: $trs;

  &--fill {
    border: 0;

    &.bg-red-1 {
      &:hover {
        background-color: $red-2;
      }
    }
  }

  &:hover {
    background-color: $blue-1;
  }
}
