head
  meta(charset=`UTF-8`)
  meta(http-equiv=`X-UA-Compatible`, content=`IE=Edge`)
  meta(name=`viewport`, content=`width=device-width, initial-scale=1`)
  meta(name=`format-detection`, content=`telephone=no`)

  title Моё здоровье. Программа доступного лечения

  link(rel=`icon` href=`favicon.ico`)

  link(rel=`preload` href=`assets/fonts/cera-round-pro/CeraRoundPro-Light.woff2` as=`font` type=`font/woff2` crossorigin)
  link(rel=`preload` href=`assets/fonts/cera-round-pro/CeraRoundPro-Regular.woff2` as=`font` type=`font/woff2` crossorigin)
  link(rel=`preload` href=`assets/fonts/cera-round-pro/CeraRoundPro-Medium.woff2` as=`font` type=`font/woff2` crossorigin)
  link(rel=`preload` href=`assets/fonts/cera-round-pro/CeraRoundPro-Bold.woff2` as=`font` type=`font/woff2` crossorigin)
  link(rel=`preload` href=`assets/fonts/geometria/Geometria-Medium.woff2` as=`font` type=`font/woff2` crossorigin)

  block head
